{
  "presets": ["next/babel", "@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": true
      }, "antd"
    ],
    [
      "import", {
        "libraryName": "cuke-ui",
        "libraryDirectory": "es",
        "style": true
      }, "cuke-ui"
    ],
    [
      "import",
      {
        "libraryName": "@1msoft/kant-ui",
        "libraryDirectory": "lib",
        "style": true
      }, "kant-ui"
    ],
  ]
}
